In [14]:
import pandas as pd
import os

path = os.path.abspath('datasets/')

df_data_dictionary = pd.read_csv(path+'/brazilian_cities_2022/Data_Dictionary.csv', sep=';')

In [15]:
df.head(20)

,FIELD,DESCRIPTION,REFERENCE,UNIT,SOURCE,Unnamed: 5
0,CITY,Name of the City,NaN,NaN,-,NaN
1,STATE,Name of the State,NaN,NaN,-,NaN
2,CAPITAL,1 if Capital of State,NaN,NaN,-,NaN
3,IBGE_RES_POP,Resident Population,2010,-,https://sidra.ibge.gov.br/tabela/1497,NaN
4,IBGE_RES_POP_BRAS,Resident Population Brazilian,2010,-,https://sidra.ibge.gov.br/tabela/1497,NaN
5,IBGE_RES_POP_ESTR,Redident Population Foreigners,2010,-,https://sidra.ibge.gov.br/tabela/1497,NaN
6,IBGE_DU,Domestic Units Total,2010,-,https://sidra.ibge.gov.br/tabela/3495,NaN
7,IBGE_DU_URBAN,Domestic Units Urban,2010,-,https://sidra.ibge.gov.br/tabela/3495,NaN
8,IBGE_DU_RURAL,Domestic Units Rural,2010,-,https://sidra.ibge.gov.br/tabela/3495,NaN
9,IBGE_POP,Resident Population Regular Urban Planning,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
10,IBGE_1,Resident Population Regular Urban Planning - u...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
11,IBGE_1-4,Resident Population Regular Urban Planning - f...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
12,IBGE_5-9,Resident Population Regular Urban Planning - f...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
13,IBGE_10-14,Resident Population Regular Urban Planning - f...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
14,IBGE_15-59,Resident Population Regular Urban Planning - f...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
15,IBGE_60+,Resident Population Regular Urban Planning - a...,2010,-,https://sidra.ibge.gov.br/tabela/3365,NaN
16,IBGE_PLANTED_AREA,Planted Area (hectares),2017,"1 hectare (1 hectare = 10,000 square meters)",https://sidra.ibge.gov.br/tabela/5457,NaN
17,IBGE_CROP_PRODUCTION_$,Crop Production,2017,"$ 1,000 reais",https://sidra.ibge.gov.br/tabela/5457,NaN
18,IDHM Ranking,HDI Ranking,2010,-,http://www.br.undp.org/content/brazil/pt/home/...,NaN
19,IDHM,HDI Human Development Index,2010,-,http://www.br.undp.org/content/brazil/pt/home/...,NaN

In [18]:
df = pd.read_csv(path+'/brazilian_cities_2022/BRAZIL_CITIES_REV2022.CSV')
df.head(10)

,CITY,STATE,CAPITAL,IBGE_RES_POP,IBGE_RES_POP_BRAS,IBGE_RES_POP_ESTR,IBGE_DU,IBGE_DU_URBAN,IBGE_DU_RURAL,IBGE_POP,...,Pu_Bank,Pr_Assets,Pu_Assets,Cars,Motorcycles,Wheeled_tractor,UBER,MAC,WAL-MART,POST_OFFICES
0,Abadia De Goiás,GO,0,6876,6876,0,2137,1546,591,5300,...,0,0,0,2158,1246,0,0,0,0,1
1,Abadia Dos Dourados,MG,0,6704,6704,0,2328,1481,847,4154,...,0,0,0,2227,1142,0,0,0,0,1
2,Abadiânia,GO,0,15757,15609,148,4655,3233,1422,10656,...,1,33724584,67091904,2838,1426,0,0,0,0,3
3,Abaetetuba,PA,0,141100,141040,60,31061,19057,12004,82956,...,4,76181384,800078483,5277,25661,0,0,0,0,2
4,Abaeté,MG,0,22690,22690,0,7694,6667,1027,18464,...,2,44974716,371922572,6928,2953,0,0,0,0,4
5,Abaiara,CE,0,10496,10496,0,2791,1251,1540,4538,...,0,0,0,553,1674,0,0,0,0,1
6,Abaré,BA,0,17064,17064,0,4332,2379,1953,8994,...,0,21823314,0,613,1532,0,0,0,0,1
7,Abatiá,PR,0,7764,7764,0,2499,1877,622,5685,...,1,0,45976288,2168,912,0,0,0,0,1
8,Abaíra,BA,0,8316,8316,0,2572,1193,1379,3725,...,0,0,0,896,696,0,0,0,0,1
9,Abdon Batista,SC,0,2653,2653,0,848,234,614,724,...,1,0,42909056,976,345,2,0,0,0,1

In [22]:
df['Motorcycles'].count()

5578